body {
    margin: 0;
    background-color: #497174;  
    text-align: center;                                
}

.head{
    text-align: center; 
    color: #EFF5F5 ;  
    font-size:35px;
}
.banner{
    background: #EFF5F5;
}

.container {
    display: flex;
    justify-content: space-around;
    color: #EFF5F5;
    font-size:25px;
}
.c-home{
    font-size:40px;
}
.c-guest{
    font-size:40px;
    
}
#sum-el{
    font-size:100px;
    background-color: #D6E4E5;
    padding-top:20px ;
    padding-left:60px ;
    padding-right:60px ;
    padding-bottom:60px ;
    border:6px solid  #EB6440;
 

}
#sum-g-n{
    font-size:100px;
    background-color: #D6E4E5;
    padding-top:20px ;
    padding-left:60px ;
    padding-right:60px ;
    padding-bottom:60px ;
    border:6px solid  #EB6440;
}

.count{
    display: flex;
    justify-content: space-around;
     color: #EB6440 ;
}
.f-home{
    display: flex;
    margin-left: 20%;
    margin-top:20px ;
    color: #D6E4E5;
    gap: 50px;
    
}
.f-guest{
    display: flex;
    margin-right: 20%;
    margin-top:20px ;
    color: #D6E4E5;
    gap: 50px;
}
.footer-num{
    display: flex; 
	flex-direction: row ;
	justify-content: space-between;
	align-items:  center ;
	align-content:  center;
}
.container {
    display: flex; /* or inline-flex */
  }
.footer-results{
    display: flex; 
	flex-direction: row ;
	justify-content: space-between;
	align-items:  center ;
	align-content:  center;
}
.home-results{
    display: flex;
    margin-left: 20%;
    color:  #EB6440;
    gap: 60px;
    font-size:60px ;
}
.guest-results{
    display: flex;
    margin-right:380px;
    color:  #EB6440;
    gap: 80px;
    font-size:60px ;
}
#fouls-home{
    background-color: #D6E4E5;
    padding:10px 20px ;
    border:4px solid #EB6440;
}
#player-home{
    background-color: #D6E4E5;
    padding:10px 20px ;
    border:4px solid #EB6440;
}
.ap{
    color: #D6E4E5;
    font-size:25px ; 
    
}
#fouls-guest{
    background-color: #D6E4E5;
    padding:10px 20px ;
    border:4px solid #EB6440;
}
#player-guest{
    background-color: #D6E4E5;
    padding:10px 20px ;
    border:4px solid #EB6440;
}

.cp-home{
    display: flex; 
	flex-direction: row ;
	align-items:  center ;
	align-content:  center;
    margin-top:20px ;
    margin-left:15em ;
    gap: 80px
}
.cp-guest{
    margin-top:-140px ;
    margin-left:60% ;
    display: flex; 
	flex-direction: row ;
    gap: 80px

}

.plus1{
    color: #D6E4E5;
    font-size:30px ;
    font-weight:800;
    background-color:#56ab91;
}
.plus2{
    color: #D6E4E5;
    font-size:30px ;
    font-weight:800;
    background-color:#358f80 ;
}
.plus3{
    color: #D6E4E5;
    font-size:30px ;
    font-weight:800;
    background-color:#14746f ;
}
.win-home{
font-size:40px ;
color: #4e40eb;
opacity: 0.4;
}
.win-home:hover{
    opacity: 1;
}

.win-guest{
    font-size:40px ;
    color: #4e40eb;
    opacity: 0.4;
}
.win-guest:hover{
    opacity: 1;
}
.new-game-btn{
    margin-top:50px ;
    font-size:30px ;
    background-color: #2c6e49;
    color: #EFF5F5;
}