body{
   font-family: 'Orbitron', sans-serif;
   background-color:#ced4da;  
    
}

.oldcar-ban{
    background-color: black;
    height: 250px;
    color: #FFFFFF;  
    font-size: 30px;
    padding-bottom:50px ;
}
.logo-Oc{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 500px;
    height: 150px; 
    padding-top:40px ;
    padding-bottom:40px ;
    
    padding-left:auto ;
}

.Intro-btn{
    display: flex;
    justify-content: space-around;
    align-items: stretch ;
    background-color: black;
    color: #FFFFFF;
    transition: all0.4s linear; 

}
.Intro-btn:hover{
    color: #f80202;
}    
.Intro-btn::after{
    letter-spacing: 0.25em;
}

.btn-inicio{
    position: relative;
    background: black ;
    cursor: pointer; 
    color: #fbfbfb;
    text-decoration: none;
    text-transform:uppercase;
    font-size:1em ;
    letter-spacing:0.1em ;
    padding: 10px 30px ;
    transition: 0.5s;
    border: 2px solid rgb(6, 6, 6);  
}

.btn-inicio:hover{
    letter-spacing: 0.2em;
    border: 2px solid rgb(242, 3, 3);  
}


.btn-garage-de-servicios{
    position: relative;
    background: black ;
    cursor: pointer; 
    color: #fbfbfb;
    text-decoration: none;
    text-transform:uppercase;
    font-size:1em ;
    letter-spacing:0.1em ;
    padding: 10px 30px ;
    transition: 0.5s;
    border: 2px solid rgb(6, 6, 6);  
}
.btn-garage-de-servicios:hover{
    letter-spacing: 0.2em;
    border: 2px solid rgb(242, 3, 3);  
}

.btn-garage{
    position: relative;
    background: black ;
    cursor: pointer; 
    color: #fbfbfb;
    text-decoration: none;
    text-transform:uppercase;
    font-size:1em ;
    letter-spacing:0.1em ;
    padding: 10px 30px ;
    transition: 0.5s;
    border: 2px solid rgb(6, 6, 6);  
}
.btn-garage:hover{
    letter-spacing: 0.2em;
    border: 2px solid rgb(242, 3, 3);  
}
.btn-contacto{
    position: relative;
    background: black ;
    cursor: pointer; 
    color: #fbfbfb;
    text-decoration: none;
    text-transform:uppercase;
    font-size:1em ;
    letter-spacing:0.1em ;
    padding: 10px 30px ;
    transition: 0.5s;
    border: 2px solid rgb(6, 6, 6);  
}
.btn-contacto:hover{
    letter-spacing: 0.2em;
    border: 2px solid rgb(242, 3, 3);  
}
.phone{
    text-align: center;
    margin-top: 80px;
    background-color: yellow;
    font-size: 50px;
    padding-top:30px ;
    padding-bottom: 30px;
}

.Intro{
    text-align: center;
    margin: 50px;
    font-size: 20px;
    background-color: #8d99ae;
}


.Diagnóstico{
    Display: flex; 
    justify-content: space-around ;
    align-items: start;
    margin-top: 70px;
    
}
.Diagnóstico-text{
    text-align: center;
    padding:30px;
    color: white;
    padding: 20px;
    margin-top: 30px;
    text-shadow: 2px 2px #8b8c89;
    font-size: 40px;
}
.btn-diagnostico{
    text-align: center;
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;
    text-shadow: 2px 2px #8b8c89;
    font-size: 60px;
    border: 4px solid black;
    border-color: #ced4da;
    background: none;
    cursor: pointer;
    
    position: relative;
    cursor: pointer; 
    text-decoration: none;
    border: none;  
}
.btn-diagnostico:hover{
    border: 4px solid rgb(255, 255, 255);  
}


  
.wash{
    Display: flex; 
    justify-content: center ;
    align-items: start;
    margin-top: 70px;
     text-align: center;
    padding:30px;
    color: white;
    padding: 20px;
    margin-top: 30px;
    text-shadow: 2px 2px #4895ef;
    font-size: 40px;
}

.btn-wash{
    text-align: center;
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;
    text-shadow: 2px 2px #8b8c89;
    font-size: 60px;
    border: 4px solid black;
    border-color: #ced4da;
    background: none;
    cursor: pointer;
    position: relative;
    cursor: pointer; 
    text-decoration: none;
    border: none;   
}

.btn-wash:hover{
    border: 4px solid rgb(255, 255, 255);  
}



.btn-hojalatería{
    text-align: center;
    color: white;
    margin-top: 120px;
    margin-bottom: 120px;
    text-shadow: 2px 2px #8b8c89;
    font-size: 60px;
    border: 4px solid black;
    border-color: #ced4da;
    background: none;
    cursor: pointer; 
    position: relative;
    cursor: pointer; 
    text-decoration: none;
    border: none; 
}

.btn-hojalatería:hover{
    border: 4px solid rgb(255, 255, 255);  
}
.mapas-horario{
     Display: flex; 
    justify-content: space-around ;
    align-items: center;
}

.Visitanos{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 40px;
    background-color: #8d99ae;
}

.horario{
     background-color: #ced4da;
     padding: 20px;
     font-size: 30px;
     text-align: center;
}
.time{
    padding-left: 50px;
}
.conta{
     margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 40px;
    background-color: #8d99ae;
      font-size: 20px;
}
.datos{
    font-size: 25px;
}

.Respaldo{
    text-align: center;
}
.hash{
    color: #4895ef;
    font-size:30px ;
    font: weight 800px; ;
}
.fill{
    Display: flex; 
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    height: 350px;
    width: auto;
    color: #FFFFFF; 
    padding-bottom:30px ;
  
}
.Text-fill{
     padding-top: 90px;
     padding-bottom: 70px;
     padding-right: 190px;
}
.formulario-btn{
   margin-top: 150px;
     margin-bottom: 60px;
    margin-right: 200px;
   cursor: pointer; 

   position: relative;
   background: black ;
   cursor: pointer; 
   color: #fbfbfb;
   text-decoration: none;
   text-transform:uppercase;
   font-size:1em ;
   letter-spacing:0.15em ;

   transition: 0.5s;
   border: 2px solid rgb(6, 6, 6);  

}
.formulario-btn:hover{
    border: 4px solid rgb(227, 11, 11); 
}
.Sitio{
    font-size: 30px ;
    font-weight: 800px;
    text-align: center;
}
.akl-logo{
     display: flex;
     justify-content: center ;
     align-items: center;
     cursor: pointer; 

}

.icon-family{
      Display: flex; 
    justify-content: center;
    align-items: flex-start;
}